<div class="container">
  <section id="profile">
    <img src="http://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg" alt="Profile Picture">
  </section>
  <main>
    <section class="about">
      <h1>Welcome!</h1>
      <h2>My name is André Fonseca, and i'm a Full Stack Web Developer</h2>
      <p>As a Full-Stack Web Developer, my main goal is to create a
        good web enviroment, making easier for the user to navigate through.
        If you are looking for a experienced developer, fell free to <%= link_to 'contact', contact_path %> me.
        You can also see more of my work on the <%= link_to 'projects', project_path %> button below</p>
    </section>
  </main>
</div>
