
<h1>Welcome.</h1>

<h2>My name is André Fonseca, i'm a Full Stack Web Developer </h2>
<div class='about'>
<p>As a Full-Stack Web Developer, my main goal is to create a
good web enviroment, making easier for the user to navigate through.
If you are looking for a experienced developer, fell free to <%= link_to 'contact', contact_path %> me.
You can also see more of my work on the <%= link_to 'projects', about_path %> button below</p>
</div>

<%= link_to 'Contact Page', contact_path %>
<%= link_to 'About Page', about_path %>
