.home-title{
  border: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.profile-pic {
margin: auto;
}
.home-title img{
  width: 440px;
  border-radius: 30px;
  // height: 100%;
  // object-fit: cover;
  // z-index: 1;
  // display: flex;
  // margin: none;

}
