body {

}

.container {
  background-color: rgba(184, 184, 179, 0.2);
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

#profile img {
  width: 500px;
  border-radius: 50px;
  margin: 50px auto;
}

.about {
  padding: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.about p {

}

main {
  margin: 32px;
}
